Repository Exscientia/molflux: changes, and which pre-commit hooks are due for each by the changed paths.
All: linting, formatting

.pre-commit-config.yaml:

# Pre-commit configuration file
#
# If it's your first time run:
#   $ python -m pre_commit install --hook-type pre-commit --hook-type pre-push
#
# To run these hooks locally:
#   $ python -m pre_commit run --all-files
#
# To update these hooks:
#   $ python -m pre_commit autoupdate
#
# References:
#   https://pre-commit.com/index.html

repos:

  # core consistency checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [ --allow-multiple-documents ]
#      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [ --no-sort-keys, --autofix ]
      - id: trailing-whitespace

  # validate pyproject.toml file
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.12.2
    hooks:
      - id: validate-pyproject

  # some useful and quality-of-life checks for Dockerfiles
  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  # some useful and quality-of-life checks for shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck

  # fix spelling
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  # ensure commit messages format consistency
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.1.0
    hooks:
      - id: commitizen

  # code quality checks
  - repo: local
    hooks:
      - id: linting
        name: linting
        entry: python -m nox -s linting_check-3.11
        pass_filenames: false
        language: system
        types: [ python ]
        require_serial: true
        stages: [ push ]
      - id: formatting
        name: formatting
        entry: python -m nox -s formatting_check-3.11
        files: 'src|tests|noxfile.py'
        pass_filenames: false
        language: system
        types: [ python ]
        require_serial: true
        stages: [ push ]

update workflow configs
  .github/workflows/docs-build.yaml
Due: none

typo fixes
  .github/workflows/docs-deploy.yaml
Due: none

fix workflow configs
  .github/workflows/docs-build-deploy.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/main-ci-actions.yaml
  .github/workflows/release-ci-actions.yaml
Due: none

update readme and favicon
  README.md
  docs/source/conf.py
Due: linting

acknowledgements
  README.md
  docs/source/pages/philosophy.md
Due: none

fix pypi workflow
  .github/workflows/pinned-tests.yaml
  .github/workflows/publish-package.yaml
  .github/workflows/quality-typing-checks.yaml
  .github/workflows/release-ci-actions.yaml
Due: none

full workflow for publishing
  .github/workflows/release-ci-actions.yaml
Due: none

Add 3d example to docs
  docs/source/index.md
  docs/source/pages/tutorials/qm9_reg_3d.md
Due: none

Add contributors, fix typos
  README.md
  docs/source/pages/philosophy.md
  docs/source/pages/production/intro.md
Due: none

Add molfeat as docs-dependency
  pyproject.toml
Due: none

Remove molfeat from 3d example
  docs/source/pages/tutorials/qm9_reg_3d.md
  pyproject.toml
  src/molflux/features/representations/rdkit/fingerprints/graphscan.py
Due: linting, formatting

Remove molfeat from 3d example
  docs/source/pages/tutorials/qm9_reg_3d.md
  pyproject.toml
Due: none

typo fixes
  docs/source/pages/datasets/basic_usage.md
  docs/source/pages/datasets/featurising.md
  docs/source/pages/datasets/intro.md
  docs/source/pages/datasets/loading.md
  docs/source/pages/datasets/saving.md
  docs/source/pages/features/basic_usage.md
  docs/source/pages/features/how_to_add_reps.md
  docs/source/pages/features/intro.md
  docs/source/pages/metrics/basic_usage.md
  docs/source/pages/metrics/how_to_add_metrics.md
  docs/source/pages/metrics/intro.md
  docs/source/pages/modelzoo/basic_usage.md
  docs/source/pages/modelzoo/how_to_add_models.md
  docs/source/pages/modelzoo/intro.md
  docs/source/pages/modelzoo/uncertainty.md
  docs/source/pages/philosophy.md
  docs/source/pages/production/featurisation.md
  docs/source/pages/production/models.md
  docs/source/pages/production/tracking.md
  docs/source/pages/splits/how_to_add_splits.md
  docs/source/pages/splits/intro.md
  docs/source/pages/tutorials/esol_reg.md
  docs/source/pages/tutorials/esol_uncertainty.md
  src/molflux/features/representations/rdkit/fingerprints/graphscan.py
Due: linting, formatting

fix qm9 example
  docs/source/pages/tutorials/gdb9_trunc.parquet
  docs/source/pages/tutorials/qm9_reg_3d.md
Due: none

Remove molfeat from 3d example
  src/molflux/features/representations/rdkit/fingerprints/graphscan.py
Due: linting, formatting

fix qm9 example
  docs/source/pages/tutorials/gdb9_trunc.parquet
  docs/source/pages/tutorials/qm9_reg_3d.md
  tests/features/plugins/rdkit/fingerprints/test_graphscan.py
Due: linting, formatting

updated
  CHANGELOG.md
Due: none

update to run daily actions
  .github/workflows/main-ci-actions.yaml
Due: none

scheduled latest tests
  .github/workflows/latest-tests.yaml
  .github/workflows/main-ci-actions.yaml
Due: none

fixed deps
  noxfile.py
  pinned-versions/3.10/lockfile.catboost.txt
  pinned-versions/3.10/lockfile.core.txt
  pinned-versions/3.10/lockfile.ensemble.txt
  pinned-versions/3.10/lockfile.lightning.txt
  pinned-versions/3.10/lockfile.mapie.txt
  pinned-versions/3.10/lockfile.pyod.txt
  pinned-versions/3.10/lockfile.rdkit.txt
  pinned-versions/3.10/lockfile.sklearn.txt
  pinned-versions/3.10/lockfile.xgboost.txt
  pinned-versions/3.11/lockfile.catboost.txt
  pinned-versions/3.11/lockfile.core.txt
  pinned-versions/3.11/lockfile.ensemble.txt
  pinned-versions/3.11/lockfile.lightning.txt
  pinned-versions/3.11/lockfile.mapie.txt
  pinned-versions/3.11/lockfile.pyod.txt
  pinned-versions/3.11/lockfile.rdkit.txt
  pinned-versions/3.11/lockfile.sklearn.txt
  pinned-versions/3.11/lockfile.xgboost.txt
  pinned-versions/3.8/lockfile.catboost.txt
  pinned-versions/3.8/lockfile.core.txt
  pinned-versions/3.8/lockfile.ensemble.txt
  pinned-versions/3.8/lockfile.lightning.txt
  pinned-versions/3.8/lockfile.mapie.txt
  pinned-versions/3.8/lockfile.pyod.txt
  pinned-versions/3.8/lockfile.rdkit.txt
  pinned-versions/3.8/lockfile.sklearn.txt
  pinned-versions/3.8/lockfile.xgboost.txt
  pinned-versions/3.9/lockfile.catboost.txt
  pinned-versions/3.9/lockfile.core.txt
  pinned-versions/3.9/lockfile.ensemble.txt
  pinned-versions/3.9/lockfile.lightning.txt
  pinned-versions/3.9/lockfile.mapie.txt
  pinned-versions/3.9/lockfile.pyod.txt
  pinned-versions/3.9/lockfile.rdkit.txt
  pinned-versions/3.9/lockfile.sklearn.txt
  pinned-versions/3.9/lockfile.xgboost.txt
  pyproject.toml
Due: linting, formatting

fix noxfile
  noxfile.py
Due: linting, formatting

updated
  CHANGELOG.md
  src/molflux/datasets/builders/ani2x/ani2x_configs.py
  src/molflux/datasets/builders/spice/spice.py
  tests/datasets/plugins/openeye/spice/mock_data/data.h5
  tests/datasets/plugins/openeye/spice/mock_data/script.py
  tests/datasets/plugins/rdkit/spice/mock_data/data.h5
  tests/datasets/plugins/rdkit/spice/mock_data/script.py
Due: linting, formatting

removed failure tests
  CHANGELOG.md
  pinned-versions/3.10/lockfile.catboost.txt
  pinned-versions/3.10/lockfile.core.txt
  pinned-versions/3.10/lockfile.ensemble.txt
  pinned-versions/3.10/lockfile.lightning.txt
  pinned-versions/3.10/lockfile.mapie.txt
  pinned-versions/3.10/lockfile.pyod.txt
  pinned-versions/3.10/lockfile.rdkit.txt
  pinned-versions/3.10/lockfile.sklearn.txt
  pinned-versions/3.10/lockfile.xgboost.txt
  pinned-versions/3.11/lockfile.catboost.txt
  pinned-versions/3.11/lockfile.core.txt
  pinned-versions/3.11/lockfile.ensemble.txt
  pinned-versions/3.11/lockfile.lightning.txt
  pinned-versions/3.11/lockfile.mapie.txt
  pinned-versions/3.11/lockfile.pyod.txt
  pinned-versions/3.11/lockfile.rdkit.txt
  pinned-versions/3.11/lockfile.sklearn.txt
  pinned-versions/3.11/lockfile.xgboost.txt
  pinned-versions/3.8/lockfile.catboost.txt
  pinned-versions/3.8/lockfile.core.txt
  pinned-versions/3.8/lockfile.ensemble.txt
  pinned-versions/3.8/lockfile.lightning.txt
  pinned-versions/3.8/lockfile.mapie.txt
  pinned-versions/3.8/lockfile.pyod.txt
  pinned-versions/3.8/lockfile.rdkit.txt
  pinned-versions/3.8/lockfile.sklearn.txt
  pinned-versions/3.8/lockfile.xgboost.txt
  pinned-versions/3.9/lockfile.catboost.txt
  pinned-versions/3.9/lockfile.core.txt
  pinned-versions/3.9/lockfile.ensemble.txt
  pinned-versions/3.9/lockfile.lightning.txt
  pinned-versions/3.9/lockfile.mapie.txt
  pinned-versions/3.9/lockfile.pyod.txt
  pinned-versions/3.9/lockfile.rdkit.txt
  pinned-versions/3.9/lockfile.sklearn.txt
  pinned-versions/3.9/lockfile.xgboost.txt
  pyproject.toml
  tests/datasets/core/unit/test_flatten_indices_failure.py
Due: linting, formatting

add test to check flattening
  tests/datasets/core/unit/test_flatten_indices_failure.py
Due: linting, formatting

fixed
  .github/workflows/latest-tests.yaml
  pinned-versions/3.11/lockfile.pyod.txt
  tests/modelzoo/plugins/pyod/test_cblof_detector.py
Due: linting, formatting

docs: add github profile links to readme
  README.md
Due: none
