Repository Exscientia/molflux: changes, and which pre-commit hooks are due for each by the changed paths.
All: linting, formatting

linting:
  name: linting
  entry: python -m nox -s linting_check-3.11
  pass_filenames: false
  language: system
  require_serial: true
  stages:
  - push

formatting:
  name: formatting
  entry: python -m nox -s formatting_check-3.11
  pass_filenames: false
  language: system
  require_serial: true
  stages:
  - push

added ani2x with tests
  pyproject.toml
  src/molflux/datasets/builders/ani1x/ani1x.py
  src/molflux/datasets/builders/ani2x/README.md
  src/molflux/datasets/builders/ani2x/__init__.py
  src/molflux/datasets/builders/ani2x/ani2x.py
  src/molflux/datasets/builders/ani2x/ani2x_configs.py
  src/molflux/datasets/builders/esol/esol.py
  src/molflux/datasets/builders/pcqm4m_v2/pcqm4m_v2.py
  src/molflux/datasets/builders/spice/spice.py
  tests/datasets/plugins/openeye/ani2x/mock_data/final_h5/ANI-2x-B973c-def2mTZVP.h5
  tests/datasets/plugins/openeye/ani2x/mock_data/final_h5/ANI-2x-wB97MD3BJ-def2TZVPP.h5
  tests/datasets/plugins/openeye/ani2x/mock_data/final_h5/ANI-2x-wB97MV-def2TZVPP.h5
  tests/datasets/plugins/openeye/ani2x/mock_data/final_h5/ANI-2x-wB97X-631Gd.h5
  tests/datasets/plugins/openeye/ani2x/mock_data/final_h5/ANI-2x-wB97X-def2TZVPP.h5
  tests/datasets/plugins/openeye/ani2x/mock_data/script.py
  tests/datasets/plugins/openeye/ani2x/test_ani2x.py
  tests/datasets/plugins/rdkit/ani2x/__init__.py
  tests/datasets/plugins/rdkit/ani2x/mock_data/final_h5/ANI-2x-B973c-def2mTZVP.h5
  tests/datasets/plugins/rdkit/ani2x/mock_data/final_h5/ANI-2x-wB97MD3BJ-def2TZVPP.h5
  tests/datasets/plugins/rdkit/ani2x/mock_data/final_h5/ANI-2x-wB97MV-def2TZVPP.h5
  tests/datasets/plugins/rdkit/ani2x/mock_data/final_h5/ANI-2x-wB97X-631Gd.h5
  tests/datasets/plugins/rdkit/ani2x/mock_data/final_h5/ANI-2x-wB97X-def2TZVPP.h5
  tests/datasets/plugins/rdkit/ani2x/mock_data/script.py
  tests/datasets/plugins/rdkit/ani2x/test_ani2x.py
Due: linting, formatting

more fixes
  docs/source/index.md
  docs/source/pages/tutorials/esol_training.md
  docs/source/pages/tutorials/index.md
Due: none

added tutorial example
  docs/source/pages/philosophy.md
  docs/source/pages/standard_api/intro.md
  docs/source/pages/tutorials/esol_training.md
  docs/source/pages/tutorials/index.md
  pyproject.toml
Due: none

small fixes
  docs/source/pages/datasets/basic_usage.md
  pyproject.toml
Due: none

more docs and fix dataclass config validation
  docs/source/conf.py
  docs/source/index.md
  docs/source/pages/core/intro.md
  docs/source/pages/datasets/basic_usage.md
  docs/source/pages/datasets/featurising.md
  docs/source/pages/datasets/loading.md
  docs/source/pages/datasets/saving.md
  docs/source/pages/datasets/splitting.md
  docs/source/pages/features/basic_usage.md
  docs/source/pages/features/how_to_add_reps.md
  docs/source/pages/metrics/basic_usage.md
  docs/source/pages/metrics/how_to_add_metrics.md
  docs/source/pages/modelzoo/basic_usage.md
  docs/source/pages/modelzoo/how_to_add_models.md
  docs/source/pages/modelzoo/uncertainty.md
  docs/source/pages/production/featurisation.md
  docs/source/pages/production/intro.md
  docs/source/pages/production/models.md
  docs/source/pages/production/tracking.md
  docs/source/pages/splits/basic_usage.md
  docs/source/pages/splits/gallery.md
  docs/source/pages/splits/how_to_add_splits.md
  docs/source/pages/standard_api/intro.md
  docs/source/pages/tutorials/esol_training.md
  pinned-versions/3.11/lockfile.core.txt
  pyproject.toml
Due: linting

docs draft
  docs/Makefile
  docs/make.bat
  docs/source/_static/logo.png
  docs/source/_templates/badges.html
  docs/source/conf.py
  docs/source/index.md
  docs/source/pages/core/intro.md
  docs/source/pages/datasets/basic_usage.md
  docs/source/pages/datasets/intro.md
  docs/source/pages/features/intro.md
  docs/source/pages/metrics/intro.md
  docs/source/pages/modelzoo/intro.md
  docs/source/pages/philosophy.md
  docs/source/pages/splits/intro.md
  docs/source/pages/standard_api/intro.md
  docs/source/pages/tutorials/index.md
  noxfile.py
  pyproject.toml
Due: linting, formatting

small fixes
  docs/source/conf.py
  docs/source/pages/production/tracking.md
  pyproject.toml
Due: linting

improvements
  docs/source/index.md
  docs/source/pages/datasets/intro.md
  docs/source/pages/modelzoo/basic_usage.md
  docs/source/pages/modelzoo/uncertainty.md
  docs/source/pages/splits/gallery.md
  docs/source/pages/tutorials/esol_training.md
  src/molflux/datasets/builders/ani2x/ani2x.py
  src/molflux/datasets/builders/ani2x/ani2x_configs.py
  tests/datasets/plugins/openeye/ani2x/test_ani2x.py
  tests/datasets/plugins/rdkit/ani2x/test_ani2x.py
Due: linting, formatting

cls example
  docs/source/index.md
  docs/source/pages/tutorials/esol_cls.md
  docs/source/pages/tutorials/esol_reg.md
  docs/source/pages/tutorials/esol_reg.yaml
Due: none

Improve docs
  docs/source/pages/datasets/basic_usage.md
  docs/source/pages/datasets/featurising.md
  docs/source/pages/datasets/intro.md
  docs/source/pages/datasets/loading.md
  docs/source/pages/datasets/splitting.md
  docs/source/pages/features/basic_usage.md
  docs/source/pages/metrics/basic_usage.md
  docs/source/pages/metrics/how_to_add_metrics.md
  docs/source/pages/modelzoo/basic_usage.md
  docs/source/pages/philosophy.md
  docs/source/pages/splits/basic_usage.md
  docs/source/pages/standard_api/intro.md
Due: none

added index grid
  docs/source/index.md
Due: none

Add complete yaml esol training example
  docs/source/pages/datasets/featurising.md
  docs/source/pages/datasets/splitting.md
  docs/source/pages/standard_api/intro.md
  docs/source/pages/tutorials/esol_training.md
  docs/source/pages/tutorials/esol_training.yaml
Due: none

update logo
  README.md
  docs/source/_static/MolFlux_logo_final_MolFlux Logo mark with name 2 colours.svg
  docs/source/_static/MolFlux_logo_final_MolFlux Logo mark with name grey.svg
  docs/source/_static/MolFlux_logo_final_MolFlux logo mark.svg
  docs/source/_static/MolFlux_logo_final_MolFlux logo name Grey-cropped.svg
  docs/source/_static/MolFlux_logo_final_MolFlux logo name Wh-cropped.svg
  docs/source/_static/MolFlux_logo_final_MolFlux logo name-cropped.svg
  docs/source/_static/MolFlux_logo_final_MolFlux logo name.svg
  docs/source/_static/logo.png
  docs/source/conf.py
Due: linting

update readme
  README.md
  docs/source/conf.py
Due: linting

try deploy docs
  .github/workflows/dev-ci-actions.yaml
  .github/workflows/docs-build-deploy.yaml
Due: none

revert
  .github/workflows/dev-ci-actions.yaml
  .github/workflows/main-ci-actions.yaml
Due: none

update workflow configs
  .github/workflows/alpha-release-ci-actions.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/main-ci-actions.yaml
  .github/workflows/pinned-tests.yaml
  .github/workflows/quality-typing-checks.yaml
  .github/workflows/release-ci-actions.yaml
Due: none

Path conditions:
  linting: any of: \.py$
  formatting: any of: src|tests|noxfile.py and \.py$
